<!DOCTYPE html>
<html lang="{{site.language}}" class="antialiased scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <!-- Meta -->
    <title>{{title or site.title}}</title>
    <meta name="description" content="{{description or site.description}}">
</head>
<body class="dark:bg-gray-950">
    <header>
        {%include 'comp/navbar.html' %}
    </header>
    <div class="max-w-[60rem] mx-auto min-h-screen pt-[57px] overflow-hidden">
        {{content | safe}}
    </div>
    {% if content | containsPreCode %}
    <link rel="stylesheet" href="/css/lib/vs2015.min.css">
        <script src="/js/hljs.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    {% endif %}
</body>
</html>