{# <!-- Media --> #}
<article>
    <a class="group flex items-center gap-x-6 focus:outline-none" href="{{post.url}}">
        <div class="shrink-0 relative overflow-hidden size-20">
            <img
                class="size-full absolute top-0 start-0 object-cover"
                src="https://images.unsplash.com/photo-1542125387-c71274d94f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&q=80"
                alt="Blog Image"></div>
            <div class="grow line-clamp-3">
                <h3 class="text-sm font-bold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600 dark:text-neutral-200
                        dark:group-hover:text-blue-500 dark:group-focus:text-blue-500">
                    {{post.data.title | capFirstWord}}
                </h3>
            </div>
        </a>
    </article>
    {# <!-- End Media --> #}